<h1>Your Lists!</h1>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <% @lists.each_with_index do |list, index| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading<%=@words[index]%>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%=@words[index]%>" aria-expanded="false" aria-controls="flush-collapse<%=@words[index]%>">
          <%= list.name %>
        </button>
      </h2>
      <div id="flush-collapse<%=@words[index]%>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%=@words[index]%>" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Urgent Products</div>
      </div>
    </div>
  <% end %>
</div>
