<div class="container">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div data-controller="insert-list">
      <% @lists.each_with_index do |list, index| %>
        <div class="accordion-item" data-insert-list-target="list">
          <div class="card-category my-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= List.card_pic(list.name) %>)">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%=@words[index]%>" aria-expanded="false" aria-controls="flush-collapse<%=@words[index]%>">
          <%= link_to list_path(list), class: 'in-front' do %>
            <p><%= list.name %></p>
          <% end %>
          </div>
          <div id="flush-collapse<%=@words[index]%>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%=@words[index]%>" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><%= link_to list_path(list), class:"text-decoration-none picture" do %>
                <% @urgent_products.where(list_id: list).each do |product| %>
                <div class="card-product" id="urgent">
                  <img src="<%=product.product.image_url%>" >
                  <div class="card-product-infos">
                    <h2><%= product.product.item %></h2>
                    <ul style="list-style: none">
                      <li><p> </p></li>
                    </ul>
                    <div class="card-flex-box ">
                    <ul style="list-style: none">
                      <li>Running out in: <%= (product.next_purchase - Date.today).to_i %> days</li>
                    </ul>
                    <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                      <i class="fa-regular fa-circle-check text-black fa-xl"></i>
                    <% end %>
                    </div>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>

    <button type="button" class="btn btn-primary" id="btn-design" data-bs-toggle="modal" data-bs-target="#exampleModal">
      New List
    </button>

<!-- adding modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New List</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="list-form" data-insert-list-target="hide">
              <%= simple_form_for [@list] do |f| %>
                <%= f.input :name %>
                <%= f.submit :submit, class: "btn btn-primary", id: "btn-design" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- TODO
1 make all the modals the same in all the pages
2 fix the labels and add placeholders inside the inputs
3 restart the server if index still not scrollable fix it! -->
