<<div class="container">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div data-controller="insert-list">
      <% @lists.each_with_index do |list, index| %>
        <div class="accordion-item" data-insert-list-target="list">
          <div class="card-category my-3 mx-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= List.card_pic(list.name) %>)">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%=@words[index]%>" aria-expanded="false" aria-controls="flush-collapse<%=@words[index]%>">
          <%= link_to list_path(list), class: 'in-front' do %>
            <p><%= list.name.capitalize %></p>
          <% end %>
          </div>
          <div id="flush-collapse<%=@words[index]%>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%=@words[index]%>" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"><%= link_to list_path(list), class:"text-decoration-none picture" do %>
                <% @urgent_products.where(list_id: list).each do |product| %>
                <% countdown = (product.next_purchase - Date.today).to_i %>
                <% if countdown > 0 %>
                <div class="card-product" id="urgent">
                  <img src="<%=product.product.image_url%>" >
                  <div class="card-product-infos">
                    <h2><%= product.product.item %></h2>
                    <ul style="list-style: none">
                      <li><p> </p></li>
                    </ul>
                    <div class="card-flex-box ">
                    <ul style="list-style: none">
                      <% if countdown == 1 %>
                        <li>Running out in <%= countdown %> day</li>
                      <% elsif countdown == 0 %>
                        <li>Running out today</li>
                      <% elsif countdown < 0 %>
                        <li>Overdue</li>
                      <% else %>
                        <li>Running out in <%= countdown %> days</li>
                      <% end %>
                    </ul>
                    <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                      <i class="fa-regular fa-circle-check text-black fa-xl"></i>
                    <% end %>
                    </div>
                </div>
              </div>
              <% else %>
              <div class="card-product" id="overdue">
                  <img src="<%=product.product.image_url%>" >
                  <div class="card-product-infos">
                    <h2><%= product.product.item %></h2>
                    <ul style="list-style: none">
                      <li><p> </p></li>
                    </ul>
                    <div class="card-flex-box ">
                    <ul style="list-style: none">
                      <% if countdown == 1 %>
                        <li>Running out in <%= countdown %> day</li>
                      <% elsif countdown == 0 %>
                        <li>Running out today</li>
                      <% elsif countdown < 0 %>
                        <li>Overdue</li>
                      <% else %>
                        <li>Running out in <%= countdown %> days</li>
                      <% end %>
                    </ul>
                    <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                      <i class="fa-regular fa-circle-check text-black fa-xl"></i>
                    <% end %>
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

      <button type="button" class="btn btn-primary" id="btn-design" data-bs-toggle="modal" data-bs-target="#exampleModal">
        New List
      </button>

<!-- adding modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New List</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="list-form" data-insert-list-target="hide">
              <%= simple_form_for [@list] do |f| %>
                <%= f.input :name, label: false, placeholder: 'e.g. home' %>
                <%= f.submit :submit, class: "btn btn-primary", id: "btn-design" %>
              <% end %>
      <!-- adding modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="list-form" data-insert-list-target="hide">
                <%= simple_form_for [@list] do |f| %>
                  <%= f.input :name, label: false, placeholder: 'Home' %>
                  <%= f.submit :submit, class: "btn btn-primary", id: "btn-design" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
