<h1>Hello There</h1>

<div data-controller="insert-list">
  <div data-insert-list-target="list">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class:"text-decoration-none picture" do %>
      <p><%= list.name %></p>
      <% end %>
    <% end %>
  </div>

  <button data-action="click->insert-list#reveal">
    click
  </button>

  <div class="list-form hidden" data-insert-list-target="hide">
    <%= simple_form_for(@list, data: {insert_list_target: "form", action: "submit->insert-list#send"}) do |f| %>
      <%= f.input :name %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
