
<div class="container">
  <%= simple_form_for [@list, @list_product] do |f| %>
    <%= f.input :frequency %>
    <%= f.association :product %>
    <%= f.submit :submit %>
  <% end %>
</div>
<ul>
  <% @list_products.each do |product| %>
  <li>
  <%= product.product.item %>
  <br>
  Running out in: <%= product.frequency %> days
  <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
  <button>Purchase</button>
  <% end %>
  </li>
  <% end  %>
</ul>
