<%= link_to new_list_user_list_path(@list), class:"text-decoration-none picture" do %>
<button>Add User To List</button>
<% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Product
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-form" data-insert-list-target="hide">
          <%= simple_form_for [@list, @list_product] do |f| %>
            <%= f.input :frequency %>
            <%= f.association :product, collection: Product.order('item ASC'), input_html: {data: {controller: "tom-select", tom_select_options_value: {tags: true}}}  %>
            <%= f.submit :submit %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<ul style="list-style: none";>
  <% @list_products.each do |product| %>
  <% if (product.next_purchase - Date.today).to_i < 3  %>
  <li>
    <div class="card-product" id="urgent">
      <img src="<%=product.product.image_url%>" >
      <div class="card-product-infos">
        <h2><%= product.product.item %></h2>
        Running out in: <%= (product.next_purchase - Date.today).to_i %> days
    <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
    <button>Purchase</button>
    <% end %>
    </div>
  </div>
  </li>
<% elsif ((product.next_purchase - Date.today).to_i < 7) %>
  <li>
    <div class="card-product" id="warning">
      <img src="<%=product.product.image_url%>" >
      <div class="card-product-infos">
        <h2><%= product.product.item %></h2>
        Running out in: <%= (product.next_purchase - Date.today).to_i %> days
    <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
    <button>Purchase</button>
    <% end %>
    </div>
  </div>
  </li>
<% else %>
  <li>
    <div class="card-product">
      <img src="<%=product.product.image_url%>" >
      <div class="card-product-infos">
        <h2><%= product.product.item %></h2>
        Running out in: <%= (product.next_purchase - Date.today).to_i %> days
    <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
    <button>Purchase</button>
    <% end %>
    </div>
  </div>
  </li>
<% end %>
<% end %>
</ul>

<div class="mt-4">
      <%= link_to "Delete List", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this list?"}%>
  </div>
<ul>
  <% @list.user_lists.each do |user_list| %>
  <li>
    <%= user_list.user.email %>
    <%= link_to "Remove Person From List", user_list_path(user_list), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this user from the list?"}%>
    <% end %>
  </li>
</ul>
