<!-- Button trigger modal -->
<div class="container">
  <div class="show-container" id="show-btns">
    <button type="button" class="btn btn-design" id="btn-show" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Share List
    </button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-design" id="btn-show" data-bs-toggle="modal" data-bs-target="#exampleModalP">
      Add Product
    </button>
  </div>
  <div class="show-container">
    <ul style="list-style: none";>
      <% @list_products.each do |product| %>
        <% countdown = (product.next_purchase - Date.today).to_i %>
        <% if countdown < 1 %>
          <li>
            <div class="card-product" id="overdue">
              <img src="<%=product.product.image_url%>">
              <div class="card-product-infos">
                <h2><%= product.product.item %></h2>
                <% if countdown == 0 %>
                  Running out today
                <% else %>
                  Overdue
                <% end %>
                <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                  <i class="fa-solid fa-basket-shopping text-black fa-xl"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% elsif countdown < 3  %>
          <li>
            <div class="card-product" id="urgent">
              <img src="<%=product.product.image_url%>">
              <div class="card-product-infos">
                <h2><%= product.product.item %></h2>
                <% if countdown == 1 %>
                  Running out in <%= countdown %> day
                <% else %>
                  Running out in <%= countdown %> days
                <% end %>
                <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                  <i class="fa-solid fa-basket-shopping text-black fa-xl"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% elsif countdown < 7 %>
          <li>
            <div class="card-product" id="warning">
              <img src="<%=product.product.image_url%>" >
              <div class="card-product-infos">
                <h2><%= product.product.item %></h2>
                Running out in <%= countdown %> days
                <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                  <i class="fa-solid fa-basket-shopping text-black fa-xl"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% else %>
          <li>
            <div class="card-product" id="good">
              <img src="<%=product.product.image_url%>" >
                <div class="card-product-infos">
                  <h2><%= product.product.item %></h2>
                  Running out in <%= countdown %> days
                  <%= link_to new_list_product_purchase_path(product), class:"text-decoration-none picture" do %>
                    <i class="fa-solid fa-basket-shopping text-black fa-xl"></i>
                  <% end %>
                </div>
              </div>
            </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="show-calendar">
    <%= month_calendar(attribute: :list_products) do |date, list_products| %>
      <%= date %>
      <% @list_products.each do |list_products| %>
        <% if date == list_products.next_purchase.strftime("%d").to_i %>
          <div class="next">
            <p><%= list_products.product.item.truncate(12) %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mt-4 d-flex justify-content-center">
    <%= link_to "Delete List", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this list?"}, class:"btn btn-primary", id:"btn-design-delete"%>
  </div>

  <!-- Modal Product-->
  <div class="modal fade" id="exampleModalP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: center">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" >Select Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-form" data-insert-list-target="hide">
            <%= simple_form_for [@list, @list_product] do |f| %>
              <%# f.input :frequency, label: false, placeholder: 'days before I need this' %>
              <%= f.association :product, collection: Product.order('item ASC'), label: false, input_html: {data: {controller: "tom-select", tom_select_options_value: {tags: true}}}  %>
              <%= f.input :frequency, placeholder: 'Remind me to buy this every (days)', label: false, prompt: false %>
              <%= f.input :next_purchase, label: 'Select date if required sooner:', prompt: false, html5: true %>
              <%= f.submit "Add Product", class: "btn btn-design", id: "btn-show" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal User-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Share List</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-form" data-insert-list-target="hide" style="text-align: center">
            <%= simple_form_for [@list, @user_list] do |f| %>
              <%= f.input :user, label: false, placeholder: 'useremail@email.com' %>
              <%= f.submit "Share List", class: "btn btn-design", id: "btn-show" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
