<div class="container" style="min-height: 95vh; padding: 3em;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo,
                  as: :file,
                  required: true %>
    </div>
    <div class="form-actions btn btn-design" id="btn-add-list">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>
</div>
      <p style="text-align: right;">Already a user? <%= link_to 'Log In', new_user_session_path, class: 'btn btn-design' %></p>
