</div class="container">
  <h1 style="text-align: center">Your Wallet</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-group mt-2">
            <% current_user.lists.each do |list| %>
              <div class="card text-black bg-warning mb-3 h-50" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title pb-2 border-bottom border-dark"><%= list.name.capitalize %>
                  </h5>
                    <p class="card-text mb-2">
                      <% user_difference = (current_user.list_purchases(list) - (current_user.all_purchases(list) / list.users.count)).round(2) %>
                       <% if user_difference.positive? %>
                          <%= "You are owed £#{user_difference} from your household" %>
                        <% elsif user_difference.negative? %>
                          <%= "You owe £#{user_difference.abs} to the household" %>
                        <% else %>
                          <%= "You owe nothing to the list" %>
                      <% end %>
                    </p>
                    <p class="border-top border-dark pt-3"><%= list.list_products_total(list) == 0 ? "No Household Expenditure" : "Total Household Expenditure: £#{list.list_products_total(list)}" %><p>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>
