<!DOCTYPE html>
<html>
  <head>
    <title>HOMIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('homie.png') %>
  </head>

  <body><%= render "shared/navbar" unless controller.action_name == "home" %>
  <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" unless controller.action_name == "home" %>
  </body>
</html>
